[Unit]
Description=Disable Swap permanently for Kubernetes
DefaultDependencies=no
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/sbin/swapoff -a
ExecStartPost=/bin/sleep 1
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
